.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    color: bisque;
}

.logo {
    padding-left: 24px;
    font-size: 25px;
    color: yellow;
    font-weight: 700;
}

.links {
    display: flex;
    list-style-type: none;
    height: 100%;

    a {
        display: block;
        width: 100px;
        text-align: center;
        color: azure;
        padding: 30px 12px;
        height: 100%;

        &:hover {
            background-color: darkslateblue;
        }
    }
}

.active {
    background-color: darkslateblue;
}